#game-section {
    //display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    animation: move-in 2s ease-in;

    #images {
        img {
            height: 100px;
            filter: drop-shadow(10px 30px 7px rgba(122, 122, 122, 0.473));
        }
    }

    #funny-images {
      
        transform: rotate(-10deg);
        margin: 30px auto;

        img {
            height: 200px;
            filter: drop-shadow(10px 30px 7px rgba(122, 122, 122, 0.473));
        }
    }

    .results {
        flex-grow: 1;
    }

    .layout {
        display: flex;
        flex-direction: row;

        align-content: flex-start;
        align-items: flex-start;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-shrink: 2;
    }

    #hint-input-bar {

        padding-bottom: 40px;
    }

    #secret {

        color: rgb(82, 29, 82);
    }
}
