#settings-section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .form {
        display: flex;
        flex-direction: row;
    }
}
